html{
    height: 100vh;
}
body{
    margin: 0px;
    background-image: url(4815143_45908.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
    color: white;
}

main{
    max-width: 800px;
    min-width: 350px;
    height: auto;
    max-height: 500px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(45, 189, 224);
    overflow-y: auto;
}

.paragrafos{
    background-color: white;
    padding: 15px;
    margin: 20px;
    width: auto;
    border-radius: 5px;
    border-radius: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.158);
}
.paragrafos{
    text-decoration: none;
}

.paragrafos:hover{
    transform: translateY(-2px);
    transition-duration: 0.3;
    border: 2px solid blue;
}
.paragrafos > p, 
.paragrafos > h2{
    display: block;
    text-align: left;
    word-wrap: break-word;
}

.paragrafos button{
    display: block;
    width: 100px;
    height: 30px;
    float: right;
    margin-top: -40px;
    background-color: rgb(204, 62, 62);
    border: none;
    color: white;
    border-radius: 5px;
}

.paragrafos button:hover{
    background-color: rgb(45, 189, 224);
    transition-duration: 0.3s;
}

.divcheckbox{
    display: flex;
    justify-items: left;
}


#creat__button{
    display: flex;
    margin-right: 50px;
    align-items: center;
    justify-content: right;
}

#creat__button button{
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}





