@media screen and (min-width: 679px) and (max-width:2300px){
    .navebar__menu__img img{
       content: url(imgs/squeezeDesktopHero.png);
       height: 650px;
    }

    .main h2{font-size: 60px;}

    .main__item__subtitle{width: 100%;}
    .main__item__subtitle h3{font-size: 30px;}

    .itens__button{
        margin: 0px;
        width: 270px;
        padding: 17px;
        border-radius: 50px;
    }

    .main__itens__imgs{
        margin-left: 100px;
    }

    .main__itens__imgs img{
        width: 90px;
        margin-left: 50px;
    }

    .main__itens__imgs p{
        margin-left: 52px;
        font-size: 20px;

    }

    .main{height: 890px;}

    .main__item__subtitle h3{
        margin-left: 50px;
        margin-bottom: 20px;
        font-size: 40px;
    }

    .itens__imgs{
        margin-bottom: 60px;
    }

    #medica{
        width: 302px;
        height: 451px;
        position: relative;
        bottom: -10px;
        margin-left: 70px;
        margin-top: 32px;
    }

    .section__images__item1 img{
        width: 300px;
        height: 370px;

    }

    .section__images__item2 img{
        width: 300px;
        height: 370px;
    }
    .section h3{
        font-size: 30px;
        width: 500px;
        display: none;
    
    }

    .section{
        display: flex;
        align-items: center;
        margin-top: 30px;
        width: 600px;
    }

    .section__name p{display: none;}

    .section__images{
        border: none;
    }

    .rx h3{
        display: block;
        position: relative;
        right: 360px;
    }

    .rx{
        margin-left: 30px;
        margin-top: 25px;
    }

    #text{
        position: relative;
        right: 360px;
    }

    #responsive{
        width: 500px;
        margin-left: 0px;
        margin: auto;
        display: flex;
    }
    
    .section2__container2__itens1, .section2__container2__itens2{
        margin: 0px;
        height: 210px;
    }

    .section2__container2__itens2{height: 250px;}

    .section2__container2{
        position: relative;
        top: 31px;
    }

    .section2__main h3, .section2__main p{
        position: relative;
        top: 113px;
        padding-left: 30px;
    }

    .itens__button__end{
        width: 200px;
        border-radius: 50px;
        position: relative;
        right: 510px;
        bottom: 60px;
    }

    .curology{
        display: block;
        font-size: 40px;
        margin-left: 50px;
        position: relative;
        top: 180px;
        color: #1d1d44;
    }

}

/*.section2__container2{
    position: relative;
    top: 31px;
}

.section2__main h3, p{
    position: relative;
    top: 113px;
    padding-left: 30px;
}

.itens__button__end{
    width: 200px;
    border-radius: 50px;
    position: relative;
    right: 510px;
    bottom: 60px;
}